@import 'tailwindcss';
@import '@skeletonlabs/skeleton'; 
@import '@skeletonlabs/skeleton-svelte'; 
@import '@skeletonlabs/skeleton/themes/cerberus';

#background_top{
    background-color: aqua;
}

#test_button{
    background-color: brown;
}